header h1 {
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

legend {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;
}