* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

body::before {
    content: '';
    height: 436px;
    width: 100%;
    display: block;
    background: #535971;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    width: 750px;
    margin: auto;
}

header {
    width: 417px;
    margin-top: 140px;
}

form {
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 1084PX;
    margin-top: 58px;
    padding: 64px;
}

fieldset {
    border: none;
}

fieldset legend {
    border-bottom: 1px solid #5c5c6f;
    width: 100%;
    padding: 16px;
}